
@{
    ViewData["Title"] = "BookRepository";
}

<h1 class="mb-3">Welcome to BookRepository</h1>

<p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus augue sit amet pharetra sodales. Nulla in tristique nisl, a cursus nibh. Sed vestibulum commodo nisi sed dapibus. Cras id sem non ex consequat ultrices. Etiam vel magna eu felis luctus pulvinar. Vivamus sit amet lacus neque. Duis nec mauris porta, maximus justo at, dignissim odio. Morbi tempus rutrum quam at tincidunt. Etiam varius sed arcu in volutpat. Duis id blandit augue, a bibendum lorem. Duis ante mauris, tempor a ornare id, ullamcorper non quam. Vivamus consequat, ligula sed vestibulum venenatis, nisi mauris dignissim turpis, vel hendrerit felis sapien nec lorem. Cras non sapien nisi. Morbi a nisi placerat, rutrum ex vitae, malesuada nulla. Ut euismod lorem ac porttitor maximus.
</p>
<p>
    Curabitur vitae felis a mi blandit facilisis. Integer efficitur finibus felis vel fringilla. Quisque venenatis lacus sit amet felis iaculis, vitae viverra velit luctus. Nunc commodo condimentum ante. Duis et eros semper, suscipit leo a, vehicula sem. Sed aliquam, mauris nec porttitor fringilla, enim lorem placerat sapien, non interdum neque purus nec dolor. Nam convallis, libero non mattis vehicula, nulla turpis rutrum nulla, sed luctus enim risus vel leo. Integer sed dapibus nisi. Suspendisse non pellentesque purus.
</p>